.Header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.UserImgae{
    height: 50%;
    width: 50%;
}

.Title{
    padding: 1em;
}

.QuickDesciption{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}

.Link{
    display: flex;
    padding-top: .5em;
    padding-bottom: .5em;
    justify-content: flex-end;
}
.Link > a{
    padding-right: 1em;
}

.Location {
    display: flex;
    padding-top: .5em;
    padding-bottom: .5em;
    justify-content: flex-end;
}
