.Header{
    display: flex;
    padding: 1.5em;
}

.UserImgae{
    height: 50%;
    width: 50%;
}

.Title{
    padding: 2em;
    height: auto;
    width: auto;
}

.QuickDesciption{
    display: flex;
    flex-direction: column;
}

.Link{
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.Link > a{
    padding-right: 1em;
}

